@media only screen and (min-width: 768px) {
  .feedback_section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .feedback_list li {
    margin-bottom: 20px;
  }

  .feedback_list li p {
    font-size: 18px;
  }

  .feedback_good {
    color: green;
  }

  .feedback_bad {
    color: red;
  }

  .feedback_neutral {
    color: blue;
  }
}
