@media only screen and (min-width: 768px) {
  .options_section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .options_list_btn {
    display: flex;
    gap: 20px;
  }

  /* ===================== */

  .options_list_btn li button {
    margin: 5px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    padding: 3px 6px;
  }

  .options_list_btn li button:hover {
    transform: scale(1.04);
    transition: all 0.3s ease;
    outline: none;
  }
  /*? ============================== */

  .options_btn {
    background-color: #e6e6e6;
    font-size: var(--font-size-medium);
  }

  .options_btn:hover {
    background-color: #bebebe;
  }

  /* -----*/

  .options_btn_good {
    color: green;
  }

  .options_btn_bad {
    color: red;
  }

  .options_btn_neutral {
    color: blue;
  }

  /*? =============================== */

  .options_list_btn li .options_btn_reset {
    background-color: #b1b0b0;
    font-size: 17px;
  }

  .options_list_btn li .options_btn_reset:hover {
    background-color: #a88474;
  }
}
