@media only screen and (min-width: 768px) {
  .options_section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .options_list_btn {
    display: flex;
    gap: 20px;
  }

  .options_list_btn li button {
    margin: 5px;
    font-size: var(--font-size-medium);
    border: 1.5px solid #000000;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: #e6e6e6;
  }

  .options_list_btn li button:hover {
    background-color: #bebebe;
    transform: scale(1.04);
    transition: all 0.3s ease;
    outline: none;
  }

  .options_list_btn li .options_btn_reset {
    background-color: #b1b0b0;
    font-size: 17px;
  }

  .options_list_btn li .options_btn_reset:hover {
    background-color: #a88474;
  }
}
